.color-selector-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 200px;
}

.color-selector-option {
    height: 20px;
    width: 20px;
    margin: 5px 5px 0 0;
    cursor: pointer;
}
